<div class="container">
  <h1>Project Description</h1>
  <p>
    The project was created during a Web Application Development (COMP 229)
    course at Centennial College using Node.JS and Angular. This project
    is based on a functionable Survey site. It will allow the user to register
    and create an account where they can manage all the Surveys including Add, 
    Edit and Deleting the surveys.  
  </p>
  <br />
  <br />

  <h1>FAQ</h1>
  <h3>How can I see the result for my survey?</h3>
  <p>
    Once the survey is over, you can access the results under your account.
  </p>
  <h3>Who can view the survey results?</h3>
  <p>
    Survey results are kept visible to only the survey's owner or they can be shared by the survey owner. 
  </p>
  <h3>Who can add a survey to the site or page layout?</h3>
  <p>
    Anyone with edit access or registered account to the site can add a survey card to the layout.
  </p>
  <h3>What survey template is available?</h3>
  <p>
    When creating a new survey, there is Questionnaire template with multiple options available to help you get started.
  </p>
  <h3>Where can you create a survey in Codek Surveys?</h3>
  <p>
    You can create a new survey by clicking on "New Survey" button on your personalized survey list page when logged in. 
  </p>
</div>
